* {
  background-color: #fff
  margin: 0 auto;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff2cf;
}

.sidebar {
  float: left;
  display: fixed;
  background-color: darkgreen;
  width: 400px;
}

nav {
  display: block;
  font-size: 25px;
  padding-bottom: 400px;
  padding-top: 10px;
  height: 600px;
  background-image: url(imgs/Salmon2.jpg);
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: darkgreen;
  text-decoration: none;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 85px;
  color: white;
  padding: 20px;
}

main {
  text-indent: 30px;
}

.small {
  width: 200px;
  height: 200px;
  border-radius: 50%
}

.largephoto {
  float: left;
  display: inline-block;
}

.photos {
  background-color: transparent;
}

/*Table styles*/
.cookieTableTitle {
  font-size: 35px;
  margin-top: 55px;
  margin-bottom: 20px;
}

fieldset {
  margin-top: 15px;
  line-height: 1.4;
}

button {
  height: 30px;
  margin-top: 20px;
  width: 150px;
  border-radius: 3px;
  border: none;
  background-color: darkgreen;
  color: white
}

h2 {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  color: #999;
  margin-bottom: 20px;
}

h2 ~ p {
  margin-bottom: 20px;
  line-height:1.5;
}

body > p {
  line-height: 2;
}

li {
  display: block;
  color: white;
}

td {
  padding: 10px;
}

tr:first-child {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 100px;
}

footer {
  margin: 0 auto;
  position: fixed;
  font-size: 10px;
  text-transform: capitalize;
  line-height: normal;
  background-color: darkgreen;
}
