* {
  background-color: #fff
  margin: 0 auto;
}

body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff2cf;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 125px;
  color: darkgreen;
}

.cookieTableTitle {
  font-size: 35px;
  margin-top: 55px;
  margin-bottom: 20px;
}

fieldset {
  margin-top: 15px;
  line-height: 1.4;
}

button {
  height: 30px;
  margin-top: 20px;
  width: 150px;
  border-radius: 3px;
  border: none;
  background-color: darkgreen;
  color: white
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  color: #999;
  margin-bottom: 20px;
}

h2 ~ p {
  margin-bottom: 20px;
  line-height:1.5;
}

body > p {
  line-height: 2;
}

li {
  display: inline-block;
  margin: 10px;
  color: darkgreen;
}

td {
  padding: 10px;
}

tr:first-child {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 100px;
}

footer {
  margin: 0 auto;
  text-transform: capitalize;
  line-height: normal;
}
